:host {
    align-items: center;
    border-radius: var(--ar-size-3);
    display: inline-flex;
    height: var(--ar-size-m);
}

button {
    align-items: center;
    background: inherit;
    border: none;
    border-radius: inherit;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font: inherit;
    gap: var(--ar-size-6);
    height: inherit;
    justify-content: center;
    min-width: 4rem;
    outline: none;
    padding: 0 12px;
    width: inherit;
}

button:hover {
    filter: brightness(1.1);
}

.primary {
    background: var(--ar-color-primary-gradient);
    color: var(--ar-color-white);

    &.text {
        background: none;
        color: var(--ar-color-primary);
    }

    &.outline {
        background: none;
        border: 1px solid var(--ar-color-primary);
        color: var(--ar-color-primary);
    }

    &:hover {
        filter: brightness(1.2);
    }
}

.info {
    background: var(--ar-color-info);
    color: var(--ar-color-white);

    &.text {
        background: none;
        color: var(--ar-color-text);
    }

    &.outline {
        background: none;
        border: 1px solid var(--ar-color-info);
        color: var(--ar-color-text);
    }

    &:hover {
        filter: brightness(0.95);
    }
}

.warning {
    background: var(--ar-color-warning);
    color: var(--ar-color-white);

    &.text {
        background: none;
        color: var(--ar-color-warning);
    }

    &.outline {
        background: none;
        border: 1px solid var(--ar-color-warning);
        color: var(--ar-color-warning);
    }
}

.danger {
    background: var(--ar-color-danger);
    color: var(--ar-color-white);

    &.text {
        background: none;
        color: var(--ar-color-danger);
    }

    &.outline {
        background: none;
        border: 1px solid var(--ar-color-danger);
        color: var(--ar-color-danger);
    }
}

.success {
    background: var(--ar-color-success);
    color: var(--ar-color-white);

    &.text {
        background: none;
        color: var(--ar-color-success);
    }

    &.outline {
        background: none;
        border: 1px solid var(--ar-color-success);
        color: var(--ar-color-success);
    }
}

.circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    min-width: auto;
    padding: 0 2px;
}

.round {
    border-radius: var(--ar-size-21);
}
