:host {
    --border-radius: 0;
}

.radio-group ar-button:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.radio-group ar-button:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
