:host {
    align-items: center;
    background-color: var(--ar-color-info-2);
    border-radius: var(--ar-size-3);
    box-sizing: border-box;
    display: inline-flex;
    gap: var(--ar-size-6);
    height: var(--ar-size-m);
    padding: 0 12px;
    width: 100%;
}

input {
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: none;
    padding: 0;
    width: inherit;
}
