:host {
    align-items: center;
    background-color: var(--ar-color-info-2);
    border-radius: var(--ar-size-3);
    box-sizing: border-box;
    display: flex;
    gap: var(--ar-size-6);
    padding: 0 10px;
}

.textarea {
    background: none;
    border: none;
    box-sizing: border-box;
    flex: 1;
    font: inherit;
    margin: 0;
    outline: none;
    overflow: auto;
    padding: 6px 0;
    resize: none;
    width: 100%;
}
