body[data-theme="dark"]  {
    --bg-1: rgb(36 40 43);
    --bg-2: rgb(27 31 34);
    --gray-1: rgb(18 21 28);
    --gray-2: rgb(45 48 52);
    --gray-3: rgb(54 63 84);
    --text-color: #ccc;
    --box-shadow: 0 0 10px 0 rgb(255 255 255 / 5%);
}
