:root {
    --primary-color: rgb(113 103 249);
    --secondary-color: rgb(74 110 252);
    --accent-color: #fff;
    --accent-gradient: linear-gradient(45deg, #027aff, #7d64f9);
    --gap: 6px;
    --font-size: 14px;
    --border-radius: 3px;
    --round-radius: 20px;
    --success-color: #00CD6B;
    --warning-color: #FFC93D;
    --error-color: #f94e3f;
    --info-color: var(--bg-2);
    --danger-color: #ff7473;
    --input-height: 32px;
    --checkbox-size: 20px;
    --radio-size: 16px;
}
